@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }

  .withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  }

  .transfer {
    background-image: linear-gradient(to top left, #ffb201, #ffca05);
  }
}
